# Env files
.env

# Nginx conf
nginx/default.conf
!nginx/default.conf.example

# Logs
*.log

# System / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak

# Build / temp files
node_modules/
dist/
.build/
tmp/
