# Env files
.env

# Nginx templates
*.template
!*.template.example

# Logs
*.log

# System / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak

# Build / temp files
node_modules/
dist/
.build/
tmp/
